body {
	margin-top: 1.0em;
	background-color: #a6978a;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
}

#container {
	margin: 0 auto;
	width: 700px;
}

h1 {
	font-size: 3.8em;
	color: #6d0d25;
	margin-bottom: 3px;
}

h1 .small {
	font-size: 0.4em;
}

h1 a {
	text-decoration: none
}

h2 {
	font-size: 1.5em;
	color: #6d0d25;
}

h3 {
	text-align: center;
	color: #6d0d25;
}

a {
	color: #6d0d25;
}

.description {
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 30px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #211d19;
	padding: 15px;
}

.download {
	float: right;
}

pre {
	color: #fff;
	margin: 0;
}

.highlight {
	background: #211d19;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

hr {
	border: 0;
	width: 80%;
	border-bottom: 1px solid #aaa
}

.footer {
	text-align: center;
	padding-top: 30px;
	font-style: italic;
}